span.white_color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blanchedalmond;
    cursor: pointer;
}

span.black_color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
